<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .community-page {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            border-left: 10px solid #8EBFA3; /* Add a left border with the specified color */
            position: relative;
            display: flex;
            align-items: center;
        }
        .community-page .icon {
            font-size: 3rem;
            color: #ffc107;
        }
        .community-page .title {
            font-weight: bold;
            margin-left: 10px;
            color: #8EBFA3; /* Change title color to specified color */
        }
        .form-container {
            background-color: #e9ecef;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="d-flex">
    <div th:replace="common/sidebar"></div>
    <div class="container mt-5">
        <div class="community-page">
            <i class="bi bi-building icon"></i>
            <div class="h2 title">Community</div>
        </div>
        <div class="form-container mt-5">
            <hr>
            <div class="row">
                <div class="ms-4 card-body p-0 me-4">
                    <form id="search-form" action="/searchBy">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 mb-3">
                                <label for="search-type" hidden>Search type</label>
                                <select class="form-control" id="search-type" name="searchType">
                                    <option>Title</option>
                                    <option>Context</option>
                                    <option>Author</option>
                                </select>
                            </div>
                            <div class="col-lg-9 col-md-6 col-sm-12 mb-3"> <!-- 두 번째 열 -->
                                <label for="search-value" hidden>Search</label>
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="form-control" id="search-value" name="searchValue">
                                    <button type="submit" class="btn btn-outline-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                                            <circle cx="11" cy="11" r="8"></circle>
                                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                        </svg>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <br>

        <div class="row">
                    <table class="table" id="article-table">
                        <thead>
                        <tr>
                            <th class="title col-6"><a>Title</a></th>
                            <th class="user-id"><a>Username</a></th>
                            <th class="created-at"><a>Date</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="board : ${boardPage}">
                            <td><a th:href="@{/board/view(boardNo=${board.boardNo})}" th:text="${board.boardTitle}" style="text-decoration: none">Title</a></td>
                            <td th:text="${board.username}">Username</td>
                            <td th:text="${board.boardTime}">Date</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-4"></div>
                    <div class="col-6">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPage)}">
                                <a class="page-link" th:href="@{/board(page=${i}-1)}" th:text="${i}">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{/board(page=${page}+1)}">Next</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a class="btn btn-primary me-md-2" href="board/post" role="button" id="write-article" style="background-color: #ffc107; color: white; border: none">Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
