<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mcp.myclassplanner.model.dao.MemberMapper">
    <select id="singIn" parameterMap="map">
        select email
        from tbl_member
        where username = #{username} AND password = #{password};
    </select>


    <insert id="singUp">
        INSERT INTO tbl_member
        (username, password, email, auth_code, auth_status)
        VALUES
        (#{username}, #{password}, #{email}, #{authCode}, 0)
    </insert>
</mapper>