<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .contact-us {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            border-left: 10px solid #8EBFA3; /* Add a left border with the specified color */
            position: relative;
            display: flex;
            align-items: center;
        }
        .contact-us .icon {
            font-size: 3rem;
            color: #ffc107;
            color: #ffc107;
        }
        .contact-us .title {
            font-weight: bold;
            margin-left: 10px;
            color: #8EBFA3; /* Change title color to specified color */
        }
        .form-container {
            background-color: #e9ecef;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
            margin-bottom: 37px;
        }
    </style>
</head>
<body>
<div class="d-flex"> <!-- Flex container -->

    <div th:replace="common/sidebar"></div>

    <div class="container mt-5">
        <div class="contact-us">
            <i class="bi bi-envelope icon"></i>
            <div class="h2 title">Contact Us</div>
        </div>
        <div class="form-container mt-5">
        <div class="text-center mb-4">
            <h1><b>FAQ</b></h1>
        </div>
        <link rel="stylesheet" href="/css/style.css">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        How do I check my already saved schedule?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Please click on the logo in the top left corner, or you can also click ‘My Plans’ on the sidebar.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What is a course and what is a section?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Course: the name of the subject / Section: the class times corresponding to the subject<br>
                        Multiple sections can be added to a single course.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Can only one subject be registered per course?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes, that is correct. Since there can only be one subject, please add different lectures of the same subject under sections.<br>
                        If you want to add another subject, please submit the existing sections and course, then add a new course.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        How many courses and sections can be registered at once?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        There is no limit. But if you add too many subjects at once, the possible time schedule might be limited.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        What is My Courses?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        It is a space where you can check the saved subjects and sections from 'Add Course'. If the content is correct, please click the generate button.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Can I add more sections to an already saved section?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes, please enter the same subject name in 'Add Course', then add the section. The updated sections can be automatically viewed in 'My Course'.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        How do I see more detailed instructions?
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Please refer to 'how to use' by clicking 'Home' on the sidebar or click 'Hello user(your username)' at the top of the screen on the sidebar.<br>
                        Service use proceeds in the order of the categories on the sidebar or click the Next button in the bottom right corner of each category page to proceed in order.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Can I use the service as a guest?
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes. But guests can use the service but only on a one-time basis, and the created schedules are not saved. Therefore, we recommend registering as a member for future reference.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        How do I delete my account?
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        You can temporarily suspend the use of the service. You can change the account status to deactivate in the 'Settings'.<br>
                        For permanent deletion, please contact us via email on the 'Contact Us'.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTen">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        I can't find the answer to my question in the FAQ.
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        If you are a user, users can post questions in the community and receive responses from us in the comments.<br>
                        If you are a guest, guests can enter their questions in the search bar in the community to find related information.<br>
                        If you have more questions, please contact us through the 'Contact Us' page on the sidebar and you will receive an email response.
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin-top: 150px;">

        <!-- Contact Section -->

            <div class="container mt-5">
                <section class="contact-section">
                    <!-- Logo -->
                    <h2 class="text-center mt-5 pt-10"></h2>
                    <div class="container">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center mb-4">
                                <h1><b>Still need a help?</b></h1>
                                <br>
                                <h4>We'd Love to Hear From You</h4>
                                <h5>Whether you're curious about features, a free trial, or anything else - we're ready to answer any and all questions.</h5>
                                <br><br>
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-center"> <!-- Horizontally center the input fields -->
                        <div class="col-md-6">
                            <form th:action="@{/contactUs}" method="post" class="contact-form">
                                <!--Username-->
                                <div class="mb-3">
                                    <label for="name" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Username" required>
                                </div>
                                <!--Email-->
                                <div class="mb-3">
                                    <label for="email" class="form-label">Your Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                                </div>
                                <!--Message-->
                                <div class="mb-3">
                                    <label for="message" class="form-label">Message</label>
                                    <textarea class="form-control" id="message" name="message" rows="5" placeholder="Enter your message" required></textarea>
                                </div>
                                <!--Submit button-->
                                 <div class="d-flex justify-content-end">
                                <button style="align-items: center; background-color: #ffc107; color: white; border: none;" type="submit" class="btn btn-dark">Submit</button>
                                    <br>
                                </div>
                            </form>
                        </div>
                    </div>

                </section>
            </div>
        </div>

    </div>
</div>
</div>
</body>
</html>
